.ShopAll {
  padding: 30px 100px;
}

.featured-image {
  width: 100%;
  margin-bottom: 20px;
}

.featured-image img {
  width: 100%;
  height: 500px;
  display: block;
  object-fit: cover;
}

.ShopAll_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ShopAll__content__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.ShopAll_content__cards__item {
  width: calc(33.333% - 20px);
  box-sizing: border-box;
}

.ShopAll__content__cards__item__img-wrapper {
  overflow: hidden;
  border: 2px dotted #ccc;
  border-radius: 25px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s, border-color 0.3s;
}

.ShopAll__content__cards__item__img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 25px;
}

.ShopAll__content__cards__item__img-wrapper:hover {
  transform: scale(1.05);
  border-color: #121212;
}

@media (max-width: 992px) {
  .ShopAll {
    padding: 30px 40px;
  }

  .ShopAll_content__cards__item {
    width: calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .ShopAll {
    padding: 20px;
  }

  .featured-image img {
    height: 300px;
  }

  .ShopAll_content__cards__item {
    width: 100%;
  }

  .ShopAll__content__cards__item__img-wrapper {
    height: 350px;
  }
}
